body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(images/background1.jpg);
  background-size: cover;
  background-position: center;
}

img{
	margin-left: 45%;
	margin-top: 10%;
}
.text-content{
	background-color: white;
	border: solid black;
	border-radius: 5%;
	text-align: center;
	width: 400px;
	height: 100px;
	position: absolute;
	z-index: 1;
	top:15%;
	margin-left: 65%;
	font-size: 17pt;
	padding: 5px;
}
/*.item-1{
	width: 160px;
	height: 270px;
	position: absolute;
	z-index: 1;
	top: 31%;
	left: 70%;
	background-image: url(images/black-dress.png);
	/*margin-left: 774px;*/
/*	animation: sway 6s ease-in-out infinite;
}*/
/*.paused{
	 animation-play-state: paused;
}
@keyframes sway{
	0%{
	 transform: translateX(0px);
	}
	50%{
		transform: translateX(800px);
	}
	100%{
		transform: translateX(0px;);
	}
}*/
.closet{
	width: 600px;
	height: 785px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background:rgba(85,85,85,0.1);
	border: solid black;

}
.hair-1{
	width: 150px;
	height: 150px;
	position: absolute;
	background-image: url(images/hairstyle1.png);
	z-index: 1;
	top: 470px;
	
}
.hair-2{
	width: 150px;
	height: 120px;
	position: absolute;
	background-image: url(images/short-brunnette.png);
	z-index: 1;
	top: 475px;
	left: 40%;


}
.hair-3{
	width: 100px;
	height: 170px;
	position: absolute;
	background-image: url(images/black-long.png);
	z-index: 1;
	top: 480px;
	left: 75%;
	

}

.top1{
 	width: 148px;
 	height: 150px;
 	position: absolute;
 	background-image: url('Images/crop1.png');
	z-index: 1;
	top: 0px;
	left:20px;
	transform: translate3d(2px,2px, 0);

}
.top2{
	width: 140px;
	height: 100px;
	position: absolute;
	background-image: url('Images/crop2.png');
	z-index: 1;
	top: 5px;
	left: 40%;

}
.top3{
	width: 160px;
	height: 150px;
	position: absolute;
	background-image: url('Images/crop3.png');
	z-index: 1;
	top: 0px;
	left: 67%;
}
.bottom1{
	width: 130px;
	height: 120px;
	position: absolute;
	background-image: url('Images/bottom1.png');
	z-index: 1;
	top: 180px;
	left:4%;
}
.bottom2{
	width: 130px;
	height: 110px;
	position: absolute;
	background-image: url('Images/bottom2.png');
	z-index: 1;
	top: 180px;
	left: 40%;
}
.bottom3{
	width: 115px;
	height: 125px;
	position: absolute;
	background-image: url('Images/bottom3.png');
	z-index: 1;
	top: 176px;
	left: 76%;
}
.thing1{
	width: 140px;
	height: 96px;
	position: absolute;
	background-image: url('Images/hat.png');
	z-index: 1;
	top: 350px;
	left:4%;
}
.thing2{
	width: 70px;
	height: 40px;
	position: absolute;
	background-image: url('Images/glasses.png');
	z-index: 1;
	top: 370px;
	left: 45%;
}
.thing3{
	width: 70px;
	height: 70px;
	position: absolute;
	background-image: url('Images/necklace.png');
	z-index: 1;
	top: 370px;
	left: 76%;
}
.mannequin{
	border: black solid;
	background-color: rgba(85,85,85,0.1);
	width: 160px;
	height: 150px;
	left: 53%;
	top: 30%;
	position: absolute;;
	z-index: 1;
}
.tops{
display: flex;
width: 100%;

}
.bottoms{
display: flex;
width: 100%;
}
.title{
display: flex;
width: 100%;
height: 155px;
background-color: white;
text-align: center;
}
#title-txt{
margin-top: 10%;
margin-left: 25%;
font-size: 30pt;


}
.hair{
display: flex;
width: 100%;
}
.accessories{
display: flex;
width: 100%;	
}
.slot{
	border: black solid;
	background-color: rgba(0, 255, 0, 0.5);
	width: 250px;
	height: 152px;
}
.slot:hover{
	background-color: rgba(255,255,51,0.4);
}
